.comments {
  margin-bottom: 50px;
}

.commentsInfo {
  display: flex;
  font-size: 15px;
  color: grey;
}

.commentVoteScore {
  margin-left: 10px;
}

.commentDate {
  margin-left: 10px;
}

.commentMinus {
  margin-left: 10px;
  margin-right: 10px;
  color: black;
}

.commentPlus {
  margin-left: 10px;
  color: black;
}

.commentOps {
  display: flex;
}

.commentEdit {
  margin: 0;
}

.commentDelete {
  margin-left: 5px;
  margin-top: 0;
}

.commentBody {
  margin: 0;
}

.commentInfoLine {
  color: black;
}
