.commentVote {
  display: flex;
  font-size: 15px;
  margin-bottom: 30px;
}

.commentScore {
  margin-left: 10px;
  color: grey;
  font-weight: 100;
}

.commentTime {
  margin-left: 4px;
  color: grey;
  font-weight: 100;
}

.commentBold {
  font-weight: 600;
}

.commentsTitle {
  margin: 0;
  font-size: 2em;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: .1em;
}

.commentDash {
  color: black;
  font-weight: normal;
}
