.postDetail {
  text-align: center;
  margin-top: 50px;
}

.postDetailTitle {
  font-weight: 100;
  font-size: 2em;
  margin: 0;
  margin-bottom: 15px;
  color: grey;
}

.postDetailInfo {
  display: flex;
  font-size: 15px;
  justify-content: center;
}

.postDetailDate {
  margin-left: 10px;
}

.postDetailScore {
  margin-left: 10px;
}

.postDetailBody {
  margin: 0;
}

.postOps {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}

.postDetailDelete {
  margin-left: 10px;
  margin-top: 0;
}

.postDetailEdit {
  margin-right: 10px;
}

.dash {
  color: black;
  margin-left: 5px;
}

.editPost {
  margin: 0;
}
