.postDetailInfo {
  display: flex;
  font-size: 15px;
}

.postDetailDate {
  margin-left: 10px;
}

.postDetailScore {
  margin-left: 10px;
}

.postDetailBody {
  margin: 0;
}

.postOps {
  display: flex;
  margin-bottom: 50px;
}

.postDetailDelete {
  margin-left: 10px;
  /*color: red;*/
  margin-top: 0;
}

.postDetailEdit {
  /*color: blue;*/
  margin-right: 10px;
}

.dash {
  color: black;
  margin-left: 5px;
}

.editPost {
  margin: 0;
}
