.post {
  margin-bottom: 50px;
}

.postInfo {
  display: flex;
  font-size: 15px;
}

.voteScoreNum {
  margin-left: 5px;
}

.postBody {
  margin: 0;
}

.postMinus {
  margin-left: 10px;
  color: red;
}

.postPlus {
  margin-left: 10px;
  color: green;
}
